:root {
  --clr-neutral-100: hsla(0, 0%, 100, 1);
  --clr-primary-800: hsla(229, 47%, 17%, 1);
  --clr-primary-700: hsla(229, 43%, 20%, 1);
  --clr-primary-400: hsla(230, 50%, 58%, 0.3);
  --clr-primary-300: hsla(229, 36%, 39%, 1);
  --clr-primary-200: hsla(229, 21%, 53%, 1);
  --clr-accent-400: hsla(147, 93%, 43%, 1);
  --clr-secondary-400: hsla(229, 78%, 60%, 1);

  --ff-base: "Outfit", sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 3.25rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 25%;
  display: block;
}

html {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  line-height: 1.5;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-regular);
  background-color: var(--clr-primary-700);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main-grid {
  display: grid;
  grid-template-columns: 15rem auto;
  gap: 5vw;
  grid-auto-flow: dense;
  min-height: 100vh;
  align-items: center;
}

.intro {
  font-size: var(--fs-500);
  max-width: 65ch;
}

main {
  grid-column: 2;
  width: calc(100vw - 15rem - 5vw);
  /* border: 2px solid orange; */
  /* overflow-x: hidden; */
  /* overflow-x: scroll;
  /* overflow-y: hidden; */
  /* max-width: fit-content;
  flex-wrap: nowrap; */
}

aside {
  grid-column: 1;
  align-self: stretch;
}

.role {
  font-size: var(--fs-600);
  line-height: 1.2;
  position: relative;
}

.role:hover {
  text-decoration: underline;
  transition: transform 0.25s ease-out;
}

.eyebrow {
  color: var(--clr-secondary-400);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
}

.job {
  width: 27rem;
  border-radius: 0.25rem;
  padding: 2rem;
  background: var(--clr-primary-800);
  /* position: relative; */
}

.job * {
  margin: 0;
}

.job:first-child::before {
  content: "Currently Working";
  position: absolute;
  color: var(--clr-accent-400);
  top: 0;
  left: 3px;
}

.job-experience::after {
  content: "";
  width: 50px;
  background: transparent;
}
.job-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
  /* position: relative; */
}

.job-experience {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow-x: auto;
  scrollbar-color: var(--clr-accent-400) var(--clr-primary-800);
  padding-block: 2rem;
  position: relative;
}

.job-experience::-webkit-scrollbar {
  height: 0.7rem;
}

.job-experience::-webkit-scrollbar-track {
  background-color: var(--clr-primary-800);
}

.job-experience::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent-400);
  border-radius: 100vw;
  width: 2rem;
}

.year {
  color: var(--clr-accent-400);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  letter-spacing: 0.2em;
}
.icon-list {
  height: 100%;
  margin: 0;
  border-left: 1px solid var(--clr-primary-300);
  margin-left: 4rem;
  /* margin-left: clamp(3rem,); */
  list-style: none;
  display: grid;
  align-content: center;
  gap: 3rem;
  padding: 0;
}

.icon-list > li {
  position: relative;
  padding-left: 3rem;
}

.icon-list > li::after {
  /* use --_ for local variable  */
  --_size: 0.9rem;
  width: var(--_size);
  top: 0;
  left: calc(var(--_size) / -2);
  content: "";
  aspect-ratio: 1;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  outline: 0.5rem solid var(--clr-primary-400);
}

.a-tag {
  color: white;
  text-decoration: none;
}

.span-id {
  font-size: 1rem;
  color: orange;
  position: absolute;
  margin-left: 0.3rem;
  margin-bottom: 2rem;
}

.intro_bold_name {
  font-weight: var(--fw-bold);
  /* color: orange; */
  text-transform: capitalize;
  background: linear-gradient(to top, var(--clr-accent-400), white, orange);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
